html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    background: white;
}

.wrapper {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    /* border: solid 5px lime; */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header {
    background-image: url("./assets/image-main.jpeg");
    width: 100%;
    height: 810px;    
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding: 20px 0;
}

.logo {
    color: #005769;
    font-size: 3.8rem;
    font-weight: 700;
    padding: 0px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-evenly;
    font-weight: 700;
    color: #333333;
    padding: 5px 10px 10px 20px;
}

main {
    margin: 10% 0;
}

h1 {
    font-size: 6.8rem;
    color: #333333;
    font-weight: 700;
    width: 60%;
    margin: 210px 0px;
}

h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #777777;
    text-align: center;
    margin: revert;
}

img {
    width: 100%;
    object-fit: cover;
    padding: 15px;
}

p {
    font-size: 2rem;
    width: 45%;
    margin: 0 auto;
    font-weight: 500;
    color:  #777777;
    line-height: 1.2;
}

.grey-box {
    background: #F6F8FA;
    height: 470px;
}
.button1:hover {
    background: #16D6D1;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
}

.button2 {
    background: #16D6D1;
    width: 155px;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style {
    text-align: center;
}
footer {
    background: #F6F8FA;
}

.final-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px 0px 30px 100px;
    line-height: 2;
}

.copy-right {
    border-top: 2px solid #777777;
    margin: 0 auto;
    width: 900px;
    text-align: left;
    padding: 3px 0px
}
h3 {
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    color:  #777777;
}

.container {
    width: 80%;
    padding: 25px 0px;
}
